#nav {
    background: #07a195;
    font-size: large;
  }
  
  .nav-link {
    color: white;
  }
  
  h3 {
    text-align: center;
    color: #47525e;
    font-family: Lato;
    font-size: 40px;
    text-align: center;
  }
  
  
  #btn-search{
      background-color: #07A195;
  }
  
  #edit-icon{
    font-size: x-large;
  }
  
  #delete-icon{
    font-size: x-large;
  }
  
  
  #image{
    text-align: left;
  }