:root {
    --primary: #07a195;
    --light: #ffffff;
    --grey: #efefef;
    display: flex;
    height: 100%;
    /* overflow: scroll; */
}

.container{
    padding: 0;
    margin-left: 5%;
    margin-top: 5%;
    width: 850px;
}




body {
    /* overflow: hidden; */
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
    display: flex;
}
.menu{
    margin-top: -90px;
}
button:hover {
    text-decoration: none;
}


.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    /* min-height: 100vh; */
    height: 100%;
    /* width: 18%; */
    margin: 0;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 100%;
    height: 100%;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

.logoWhite{
    height: 60px;
    padding: 0px;
    margin-top: -60px;
    margin-left: -30px;
  }

.navbar{
    margin-top: -385px;
    width: 77%;
    height: 10%;
    margin-left: 290px;
    position: absolute;
    display: block;
}
  
.notificaciones{
    font-size: 35px;
}
.iconNotifications{
    padding: 0;
    margin-right: 15px;
}
@media (max-width: 900px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }


 