
#btn-search{
    background-color: #07A195;
}

#edit-icon{
  font-size: x-large;
}

#delete-icon{
  font-size: x-large;
}

#image{
  text-align: left;
}

#icon-edit{
  color: black;
  font-size: x-large;
}
