#btn-search{
  background-color: #07A195;
  width: 100px;
    height: 35px;
    margin-left: 100px;

}

#edit-icon{
  font-size: x-large;
}

#delete-icon{
  font-size: x-large;
}

#image{
  text-align: left;
}

#icon-edit{
  color: black;
  font-size: x-large;
}
.ion-md-search{
  color: black;
}

#form-input{
margin-left: 100px;
padding: 20px 0;
}

.btn-new{
  padding: 20px 0;

}

.input-search{
  height: 40px;
}

#row-container{
  margin-top: 50px;
}

.tittle{
  margin-top: 50px;
  text-align: center;
  color: black;

}