#btn-search {
  background-color: #07a195;
  width: 100px;
  height: 35px;
}
#btn-asignar {
  background-color: #0591c9e3;
  width: 60px;
  height: 35px;
  font-size: 12px;
  border-radius: 8px;
}
#btn-eliminar {
  background-color: rgba(236, 34, 34, 0.836);
  width: 60px;
  height: 35px;
  font-size: 12px;
  border-radius: 8px;
}


#modalPlaca{
  margin: 20px;
}

#labelPlaca{
  margin: 0px 0px 30px;
}

/* .table {
  width: 100%;
 
  display: block;
} */
/* .head-table , .body-table{
  display: block;
} */
.table{
  position: static;
}
#td-actions{
  padding: 12px 0px;
  width: 70px;
}
.body-table{
  height: 290px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  display: grid;
  width: 62%;
}

.table td{
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 10%;
  display: inline-grid;
}
.table th{
  /* padding: 0.75rem; */
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 20%;
  text-align: left;
}
.tr-table{
  width: 200%;
}
.tr-shipping{
  width: 125%;
}


.tr_conduct{
  width: 165%;
}

#edit-icon {
  font-size: x-large;
}

#delete-icon {
  font-size: x-large;
}

#image {
  text-align: left;
}

#icon-edit {
  color: black;
  font-size: x-large;
}
.ion-md-search {
  color: black;
}

#form-input {
  margin-left: 250px;
  padding: 20px 0;
}

.btn-new {
  padding: 20px 0;
}

.input-search {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border-color: grey;
}

#row-container {
  margin-top: 50px;
}

.form-vehiculo label{
color: black;
}

.tittle {
  margin-top: 30px;
  text-align: center;
  color: black;
}
